# ===== Web =====
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Flask-Login==0.6.3
python-dotenv==1.0.1

# ===== MySQL =====
PyMySQL==1.1.1
SQLAlchemy==2.0.35
cryptography==43.0.1

# ===== Dữ liệu =====
pandas==2.2.2
numpy==1.26.4
openpyxl==3.1.5

# ===== Machine Learning =====
scikit-learn==1.5.1
joblib==1.4.2
shap==0.46.0

# ===== Kiểm thử =====
pytest==8.3.2
pytest-cov==5.0.0
